
.Titulo{
    background: red;
    color: cornsilk;
    display: flex;
    width: 100%;
    height: 130px;
}
.Bloque{
    margin-top: -5px;
    font-size: 150px;
    margin-left: 40px;
    padding-top: 0px;
    
}
.Tbloque{
    display :flex;
}
.Objetivos{
    background: rgb(236, 236, 59) ;
    width: 45%;
    border-radius: 15px;
    border:red 4px solid ;
    margin-left:420px ;
    margin-top: -420px;
}
.texti{
    width: 45%;
}
.p1{
    border:black 3px solid;
    width: 21cm;
    margin:15px;
    height: 31cm;
}
.p1im{
    width: 100%;
    margin:0% ;
}
h4{
font-size: 17px;
position: relative;
}
.d{
    background: white;
    width: 160px;
    border: 3px black solid;
    border-radius: 10px;
    top: -325px;
    left: 228px;
}
.s{
    display: inline-block;
    border: black 3px solid;
    border-radius: 10px;
    top: -450px;
    left: 460px;
}
.q{
    width: 150px;
    border: black 3px solid;
    border-radius: 10px;
    left: 460px;
    top: -450px;
}
.c{
    border: black 3px solid;
    border-radius: 10 px;
    width: 150px;
    left: 5px;
    top: -470px;
}
/*pagina 2*/
.p2{
    border:black 3px solid;
    width: 21cm;
    margin:15px;
    height: 1230px;
}
.b{
    width: 100%;
    background: red;
    height: 70px;
}
.el-problema{
    width: 45%;
    margin-left: 10px;

}
.desarrollar{
    width: 45%;
    background: cadetblue;
    border:black 1px solid;
    border-radius:10px;
    position: relative;
    left: 420px;
    top: -415px;
}
.p2im{
    width: 40%;
    height: 200px;
    border:black 1px solid ;
    border-radius: 20px;
    position: relative;
    left: 450px;
    top: -410px;
}
.ant{
    position: relative;
    top: -475px;
    left: 5px;
}
.all{
    border: red solid 3px;
    border-radius: 3px;
    display: inline-flex;
    width: 95%;
    position: relative;
    top: -480px;
    margin-left: 15px;
}
.numero353{
    display: inline-flex;
    border: black 1px solid;
    border-radius: 2px;
    background: violet;
    padding-bottom:19px ;
    margin-bottom: 0%;
    position: relative;
    left: 20cm;
    top: -500px;
}
.sabercomo{
    border-right: red solid 2px;
    width: 45%;
}
.verificar{
    width: 45%;
}
/*pagina 3*/
.p3{
    width: 21cm;
    margin: 15px;
    border:black 3px solid;
    height: 1650px;
}
.investigation{
    width: 90%;
    position: relative;
    left: 15px;
    background: cornsilk;
    border: rgb(88, 85, 72) 3px solid;
    margin-top: 30px;
}
.numerodecom {
    position: relative;
    left: 30px;
    width: 90%;
    border: black 2px solid;
    border-collapse: collapse;
}
.numerodecom tr {
    border: black 3px solid;
}
.numerodecom tr td{
    border: black 3px solid;
}
/*pagina 4 */
.p4{
    width: 21cm;
    border: black 3px solid;
    height: 1320px;
    margin-left: 15px;
}
/*pagina 5*/
.p5{
    border: black 3px solid;
    width: 21cm;
    margin: 15px;
    height: 1270px;
}
.ejemplos{
    border: blue 2px solid;
    width: 90%;
    margin-left: 30px;
    background: rgb(168, 168, 252);
}
/*pagina 6*/
.p6{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
    height: 1320px;
}
.Color{
    border: red 2px solid;
}
.Color tr td {
    border: red 2px solid;
    border-collapse: collapse;
} 
/*Pagina 7*/
.p7{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
    height: 1450px;
}
.tbp7{
    border:1px solid black;
}
.tbp7 tr td {
    border:1px solid black;
}
/*Pagina 8*/
.p8{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
/*Pagina 9*/
.p9{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
    height: 1300px;
}
.tbp9s1 tr td{
border: 1px black solid;
}
.tbp9s2 tr td{
    border: 1px solid black;
}
/*Pagina 10*/
.p10{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
    height: 1140px;
}
.tbp10s1{
    border: black 1px solid;
}
.tbp10s2{
    border: black 1px solid;
}
.tbp10s3{
    border: black 1px solid;
}
.tbp10s4{
    border: black 1px solid;
}
.tbp10s5{
    border: black 1px solid;
}
.tbp10s1 tr td{
    border: black 1px solid;
}
.tbp10s2 tr td{
    border: black 1px solid;
}
.tbp10s3 tr td{
    border: black 1px solid;
}
.tbp10s4  tr td{
    border: black 1px solid;
}
.tbp10s5 tr td{
    border: black 1px solid;
}
/*pagina 11 */
.p11{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
.tbp11 tr td{
border: black 1px solid;
}
/*pagina 12 */
.p12{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
/*pagina 13 */
.p13{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
    height: 1375px;
}
/*pagina 14 */
.p14{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
    height:1400px;
}
/*pagina 15 */
.p15{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
    height: 1230px;
}
/*pagina 16 */
.p16{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
/*pagina 17 */
.p17{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
/*pagina 18 */
.p18{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
/*pagina 19 */
.p19{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
/*pagina 20 */
.p20{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
/*pagina 21 */
.p21{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
.tbp21s1 tr td{
border: black 1px solid;
}
.tbp21s2 tr td{
    border: black 1px solid;
    width: 80%;
}
/*pagina 22 */
.p22{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
/*pagina 23 */
.p23{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
.tbp23 tr td{
    border: black 1px solid;
}
/*pagina 24 */
.p24{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
/*pagina 25 */
.p25{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
/*pagina 26 */
.p26{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
/*pagina 27 */
.p27{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
/*pagina 28 */
.p28{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
.tbp28 tr td{
    border: black 2px solid;
}
/*pagina 29*/
.p29{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
.p30{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
.tbp30 tr td{
    border: black 2px solid;
}
.p31{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
.tbp31s1 tr td{
    border: black 2px solid;
}
.tbp31s2 tr td{
    border: black 2px solid;
}
.p32{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
.p33{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
.p34{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
.p35{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
.p36{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
.p37{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
.p38{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
.p39{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
.p40{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
.p41{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
.p42{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
.p43{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}.p44{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}.p45{
    width: 21cm;
    border: 3px black solid;
    margin: 15px;
}
.npl{
    margin-bottom: 0ch;padding: 10px;margin-left: 600px;background: violet;display: inline-flex;
}
.npr{
    margin-bottom: 0ch;padding: 10px;margin-left: 50px;background: violet;display: inline-flex;
}